<%- include('includes/head', {pageTitle:"An Error Occured"}) %>
   </head>

   <body>
      <%- include('includes/header') %>
         <main>
            <h1>You are not authorized!</h1>
            <p><a class btn href="/"></a>Back to safety!</p>
         </main>

         <%- include('includes/footer') %>